<!-- Starts Main Section -->
<main>
    <div class="container">
        <div class="col-9">
            {{#each pets}}
            <!-- Start Pet Photos Post Section -->
            {{>pet}}
            <!--If there are no photo yet!-->
            {{else}}
            <article class="not-available-photo">
                <h1>No photo posts yet.</h1>
            </article>
            {{/each}}
        </div>

    </div>
</main>